<div class="col-md-12 top-btn-container">
    <a href="/#!/templates">Templates</a>
    <span>/</span>
    <span ng-bind="ctrl.entity.name"></span>
    <div class="logout-link pull-right"><a ng-click="logout()">Logout</a></div>
    <button type="button" ng-click="ctrl.save(ctrl.entity)" class="btn btn-default btn-sm pull-right">Save</button>
</div>
<div class="template">
    <div class="template--view">
        <div class="items-list-container">
            <div ui-sortable="ctrl.templateOptions" class="item--list items" ng-model="ctrl.items">
                <div ng-repeat="item in ctrl.items track by $index" class="template-block">
                    <div class="item-header">
                        <span ng-bind="item.section.name"></span>
                        <i class="fa fa-remove pull-right" ng-click="ctrl.removeItem(item)"></i>
                    </div>
                    <div class="template-content-block">
                        <ng-include src="'templates/content.html'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>