<div class="login-screen">
    <form class="login-container" ng-submit="ctrl.login(ctrl.username, ctrl.password)">
        <div class="icon-line">
            <i class="fa fa-user-circle"></i>
        </div>
        <div class="form-title">
            <span>Пожалуйста входите</span>
        </div>
        <div class="form-label">
            <span class="error-message" ng-if="ctrl.errorMessage" ng-bind="ctrl.errorMessage"></span>
        </div>
        <div class="form-label">
            <span>Имя пользователя</span>
        </div>
        <div class="form-input">
            <input type="text" name="username" ng-model="ctrl.username"/>
        </div>
        <div class="form-label">
            <span>Пароль</span>
        </div>
        <div class="form-input">
            <input type="password" name="password" ng-model="ctrl.password"/>
        </div>
        <div class="button-line">
            <button type="submit" class="btn btn-default" ng-click="ctrl.checkUser()" ng-disabled="!ctrl.username || !ctrl.password">Войти</button>
        </div>
    </form>
</div>